<!-- -->
<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find ndtg_mapping)/config/rosconsole.conf"/>
  
  <!-- input params  -->
  <arg name="lidar_topic" default="/points_raw" />
  <arg name="imu_topic" default="/imu_raw" />
  <arg name="odom_topic" default="/vehicle/odom" />
  <arg name="gps_topic" default="/gps/fix" />

  <arg name="use_imu" default="true" />
  <arg name="use_odom" default="false" />
  <arg name="use_gps" default="true" />
  <arg name="imu_upside_down" default="false" />
  <arg name="incremental_voxel_update" default="false" />

  <arg name="tf_x" default="0" />
  <arg name="tf_y" default="0" />
  <arg name="tf_z" default="0.38" />
  <arg name="tf_yaw" default="-1.57" />
  <arg name="tf_pitch" default="0" />
  <arg name="tf_roll" default="0" />

  <arg name="resolution" default="1.0" />
  <arg name="step_size" default="0.1" />
  <arg name="trans_eps" default="0.01" />
  <arg name="max_iter" default="30" />
  <arg name="voxel_leaf_size" default="1.0" />
  <arg name="min_scan_range" default="0.15" />
  <arg name="max_scan_range" default="200" />
  <arg name="min_add_scan_shift" default="1" />

  <!-- output params  -->
  <arg name="map_topic" default="/ndtg/map" />
  <arg name="pose_topic" default="/ndtg/current_pose" />
  <arg name="gps_path_topic" default="/gps/path" />
  <arg name="save_pcd_path" default="/home/work/autoware_shared_dir/bag/map-6-park/pcd/" />

  <!-- EKF GPS-->
  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true">
      <remap from="odometry/filtered" to="odometry/navsat" />
  </node> -->

  <!-- Navsat -->
  <!-- <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true">
      <remap from="imu_raw" to="imu_correct" />
      <remap from="gps/fix" to="gps/fix" />
      <remap from="odometry/filtered" to="odometry/navsat" />
  </node> -->

  <!-- ndtg_mapping  -->
  <node pkg="ndtg_mapping" type="queue_counter" name="queue_counter" output="screen"/>
  <node pkg="ndtg_mapping" type="ndtg_mapping" name="ndtg_mapping" output="screen">
    <param name="lidar_topic" value="$(arg lidar_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="gps_topic" value="$(arg gps_topic)" />

    <param name="use_imu" value="$(arg use_imu)" />
    <param name="use_odom" value="$(arg use_odom)" />
    <param name="use_gps" value="$(arg use_gps)" />
    <param name="imu_upside_down" value="$(arg imu_upside_down)" />
    <param name="incremental_voxel_update" value="$(arg incremental_voxel_update)" />

    <param name="tf_x" value="$(arg tf_x)" />
    <param name="tf_y" value="$(arg tf_y)" />
    <param name="tf_z" value="$(arg tf_z)" />
    <param name="tf_yaw" value="$(arg tf_yaw)" />
    <param name="tf_pitch" value="$(arg tf_pitch)" />
    <param name="tf_roll" value="$(arg tf_roll)" />

    <param name="resolution" value="$(arg resolution)" />
    <param name="step_size" value="$(arg step_size)" />
    <param name="trans_eps" value="$(arg trans_eps)" />
    <param name="max_iter" value="$(arg max_iter)" />
    <param name="voxel_leaf_size" value="$(arg voxel_leaf_size)" />
    <param name="min_scan_range" value="$(arg min_scan_range)" />
    <param name="max_scan_range" value="$(arg max_scan_range)" />
    <param name="min_add_scan_shift" value="$(arg min_add_scan_shift)" />

    <param name="map_topic" value="$(arg map_topic)" />
    <param name="pose_topic" value="$(arg pose_topic)" />
    <param name="gps_path_topic" value="$(arg gps_path_topic)" />
    <param name="save_pcd_path" value="$(arg save_pcd_path)" />
  </node>

  <!-- rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ndtg_mapping)/rviz/gps_path.rviz"/>

</launch>
